
body {
  background-color: #E8ECEF;
  font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
  
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.card-header h3 {
  margin: 0;
  color: #343a40;
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #495057;
}
.form-control {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.form-control:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
.btn {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #ffffff;
  background-color:  rgb(79 62 229);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background-color: rgb(50, 29, 240);
}